@import "base/base";
@import "modulable/module";
@import "grid/grid";


body {
  font-size: 100%;
  //  background: #a90329;
  padding-top: 70px;
  background: linear-gradient(to bottom, $color 0%, $darken23 20%, $light32 40%, $light 60%, $color 88%);
}

.navbar {
  background-color: beige;
  color: #a90329;
  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  li {
    // line-height: 333%;
    align-self: flex-start;
    width: calc(100%/4 - 4%);
    background: #a4ffea; //    margin: 0 2%;
    height: 100%;
    text-align: center;
  }
  a {
    line-height: 200%;
    width: 100%;
    height: 4em;
  }
}


.post-biere {
  $post-margin: 1%;
  $post-width: 100%;
  $post-row: 2;
  $post-dimen: calc((#{$post-width}/#{$post-row}) - (#{$post-margin}*2));
  
  @include clearfix();
//  @extend %section_item;
  display: flex;
  align-content: space-between;
  justify-content: space-around;
  align-items: stretch;
  flex-flow: row wrap;
  flex: 0 1 $post-dimen;

  margin: $post-margin;
  font-family: $font-family2;
  
  &:last-child{
//    width: 100%;
    flex: 0 1 100%;
  }
  
  header {
//    width: 100%;
//    margin-bottom: 0.5em;
//    margin-top: 0;
//    order: 1;
    flex: 0 1 100%;
    align-self: center;
    background: #aaa;
  }
}
