@import url("https://fonts.googleapis.com/css?family=Cookie|Merriweather:400,700");
/* line 12, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 21, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
button, input, select, textarea {
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  line-height: inherit; }

/* line 29, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
* {
  background-repeat: no-repeat;
  box-sizing: inherit; }

/* line 34, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
::before {
  background-repeat: no-repeat;
  box-sizing: inherit;
  text-decoration: inherit;
  vertical-align: inherit; }

/* line 41, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
::after {
  background-repeat: no-repeat;
  box-sizing: inherit;
  text-decoration: inherit;
  vertical-align: inherit; }

/* line 48, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
html {
  box-sizing: border-box;
  cursor: default; }

/* line 55, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
article {
  display: block; }

/* line 58, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
aside {
  display: block; }

/* line 61, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
footer {
  display: block; }

/* line 64, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
header {
  display: block; }

/* line 67, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
nav {
  display: block; }
  /* line 69, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
  nav ol {
    list-style: none; }
  /* line 72, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
  nav ul {
    list-style: none; }

/* line 76, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
section {
  display: block; }

/* line 79, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
body {
  margin: 0; }

/* line 82, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
h1 {
  font-size: 2em;
  margin: .67em 0; }

/* line 86, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
figcaption {
  display: block; }

/* line 89, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
figure {
  display: block;
  margin: 1em 40px; }

/* line 93, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
main {
  display: block; }

/* line 96, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

/* line 102, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
pre {
  font-family: monospace, monospace;
  font-size: 1em; }

/* line 106, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
a {
  background-color: transparent;
  touch-action: manipulation; }

/* line 110, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

/* line 115, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
b {
  font-weight: inherit;
  font-weight: bolder; }

/* line 119, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
strong {
  font-weight: inherit;
  font-weight: bolder; }

/* line 123, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
code {
  font-family: monospace, monospace;
  font-size: 1em; }

/* line 127, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
kbd {
  font-family: monospace, monospace;
  font-size: 1em; }

/* line 131, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* line 135, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
dfn {
  font-style: italic; }

/* line 138, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
mark {
  background-color: #ffff00;
  color: #000000; }

/* line 142, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
small {
  font-size: 80%; }

/* line 145, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
sub {
  bottom: -.25em; }

/* line 149, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
sup {
  top: -.5em; }

/* line 153, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
::-moz-selection {
  background-color: #b3d4fc;
  color: #000000;
  text-shadow: none; }

/* line 159, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
::selection {
  background-color: #b3d4fc;
  color: #000000;
  text-shadow: none; }

/* line 165, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
audio {
  vertical-align: middle;
  display: inline-block; }
  /* line 168, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
  audio:not([controls]) {
    display: none;
    height: 0; }

/* line 173, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
canvas {
  vertical-align: middle;
  display: inline-block; }

/* line 177, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
iframe {
  vertical-align: middle; }

/* line 180, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
img {
  vertical-align: middle;
  border-style: none; }

/* line 184, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
svg {
  vertical-align: middle;
  fill: currentColor; }
  /* line 187, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
  svg:not(:root) {
    overflow: hidden; }

/* line 191, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
video {
  vertical-align: middle;
  display: inline-block; }

/* line 195, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
table {
  border-collapse: collapse; }

/* line 198, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
button {
  margin: 0;
  overflow: visible;
  text-transform: none;
  touch-action: manipulation; }
  /* line 204, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
  button:-moz-focusring {
    outline: 1px dotted ButtonText; }

/* line 208, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
input {
  margin: 0;
  overflow: visible;
  touch-action: manipulation; }

/* line 214, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
optgroup {
  margin: 0; }

/* line 217, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
select {
  margin: 0;
  text-transform: none;
  touch-action: manipulation; }

/* line 223, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
textarea {
  margin: 0;
  overflow: auto;
  resize: vertical;
  touch-action: manipulation; }

/* line 230, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/* line 234, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
[type="button"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/* line 238, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
[type="reset"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/* line 242, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/* line 246, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

/* line 255, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
progress {
  display: inline-block;
  vertical-align: baseline; }

/* line 259, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
[type="checkbox"] {
  box-sizing: border-box;
  padding: 0; }

/* line 264, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/* line 269, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
[type="number"]::-webkit-inner-spin-button {
  height: auto; }

/* line 272, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/* line 275, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
[type="search"] {
  outline-offset: -2px; }

/* line 282, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
::-webkit-file-upload-button {
  font: inherit; }

/* line 285, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
details {
  display: block; }

/* line 288, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
menu {
  display: block; }

/* line 291, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
summary {
  display: list-item;
  touch-action: manipulation; }

/* line 295, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
template {
  display: none; }

/* line 298, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
area {
  touch-action: manipulation; }

/* line 301, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
label {
  touch-action: manipulation; }

/* line 304, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
[tabindex] {
  touch-action: manipulation; }

/* line 307, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
[hidden] {
  display: none; }

/* line 310, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
[aria-busy="true"] {
  cursor: progress; }

/* line 313, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
[aria-controls] {
  cursor: pointer; }

/* line 316, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
[aria-disabled] {
  cursor: default; }

/* line 319, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
[type="reset"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/* line 322, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/* line 325, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
[type="button"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/* line 328, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_reset.scss */
[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute; }

/*! normalize.css v4.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
/* line 7, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/base/_html.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
/* line 5, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/base/_body.scss */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
/* line 7, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/html5/_blocks.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
/* line 5, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/html5/_inline-blocks.scss */
audio,
canvas,
progress,
video {
  display: inline-block; }

/*
 * Add the correct display in iOS 4-7.
 */
/* line 5, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/html5/_audio.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 5, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/html5/_progress.scss */
progress {
  vertical-align: baseline; }

/*
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
/* line 6, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/html5/_hidden.scss */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
/* line 5, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/links/_fix-background.scss */
a {
  background-color: transparent; }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
/* line 6, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/links/_fix-outline.scss */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 6, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/text-level/_abbr.scss */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
/* line 5, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/text-level/_fix-bolder.scss */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 14, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/text-level/_fix-bolder.scss */
b,
strong {
  font-weight: bolder; }

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 5, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/text-level/_dfn.scss */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 6, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/text-level/_headings.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
/* line 5, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/text-level/_mark.scss */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
/* line 5, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/text-level/_small.scss */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 6, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/text-level/_sub-and-sup.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 14, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/text-level/_sub-and-sup.scss */
sub {
  bottom: -0.25em; }

/* line 18, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/text-level/_sub-and-sup.scss */
sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
/* line 5, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/embed/_img.scss */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
/* line 5, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/embed/_svg.scss */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 6, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/grouping/_fix-monospace.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
/* line 5, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/grouping/_figure.scss */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 6, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/grouping/_hr.scss */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * Change font properties to `inherit` in all browsers (opinionated).
 */
/* line 5, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/forms/_fix-font.scss */
button,
input,
select,
textarea {
  font: inherit; }

/**
 * Restore the font weight unset by the previous rule.
 */
/* line 5, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/forms/_optgroup.scss */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 * 2. Show the overflow in Edge, Firefox, and IE.
 */
/* line 7, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/forms/_fix-overflow.scss */
button,
input,
select {
  /* 2 */
  overflow: visible; }

/**
 * Remove the margin in Safari.
 * 1. Remove the margin in Firefox and Safari.
 */
/* line 6, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/forms/_margin.scss */
button,
input,
select,
textarea {
  /* 1 */
  margin: 0; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 6, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/forms/_fix-text-transform.scss */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Change the cursor in all browsers (opinionated).
 */
/* line 5, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/forms/_cursor.scss */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer; }

/**
 * Restore the default cursor to disabled elements unset by the previous rule.
 */
/* line 16, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/forms/_cursor.scss */
[disabled] {
  cursor: default; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS.
 */
/* line 7, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/forms/_button.scss */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
/* line 5, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/forms/_fix-focus-inner.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
/* line 15, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/forms/_fix-focus-inner.scss */
button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
/* line 5, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/forms/_fieldset.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 8, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/forms/_legend.scss */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
/* line 5, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/forms/_textarea.scss */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
/* line 6, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/forms/_checkbox-and-radio.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 5, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/forms/_number.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * Correct the odd appearance of search inputs in Chrome and Safari.
 */
/* line 5, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/forms/_search.scss */
[type="search"] {
  -webkit-appearance: textfield; }

/**
 * Remove the inner padding and cancel buttons in Chrome on OS X and
 * Safari on OS X.
 */
/* line 14, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/normalize/forms/_search.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 5, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_base.scss */
ul {
  list-style: none;
  text-decoration: none; }
  /* line 8, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/base/_base.scss */
  ul a {
    text-decoration: none;
    color: black; }

/* line 19, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/modulable/_module.scss */
.post-biere section {
  flex: 0 1 50%; }

/* line 25, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/modulable/_module.scss */
.post-biere aside {
  flex: 0 1 50%; }
  /* line 28, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/modulable/_module.scss */
  .post-biere aside img {
    max-height: 100%;
    max-width: 100%; }

/* line 33, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/modulable/_module.scss */
.post-biere footer {
  order: 1; }

/* line 13, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/scss.scss */
body {
  font-size: 100%;
  padding-top: 70px; }

/* line 24, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/scss.scss */
.container {
  width: 100%;
  height: 100%; }
  /* line 28, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/scss.scss */
  .container-nav {
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 4px solid wheat;
    width: 100%;
    margin: 0;
    padding: 0; }
  /* line 37, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/scss.scss */
  .container-header {
    margin-bottom: 1%; }
    /* line 40, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/scss.scss */
    .container-header h1 {
      font-family: cursive;
      font-size: 32px;
      font-size: 2rem;
      line-height: 38px;
      line-height: 2.375rem; }
  /* line 46, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/scss.scss */
  .container-body {
    width: calc(100% - 5%);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    margin: 0 2.5%; }
  /* line 60, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/scss.scss */
  .container > footer {
    margin-top: 1%;
    background: #fef8b4; }

/* line 66, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/scss.scss */
.navbar {
  background-color: beige;
  color: #a90329; }
  /* line 69, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/scss.scss */
  .navbar ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; }
  /* line 74, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/scss.scss */
  .navbar li {
    align-self: flex-start;
    width: calc(100%/4 - 4%);
    background: #a4ffea;
    height: 100%;
    text-align: center; }
  /* line 82, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/scss.scss */
  .navbar a {
    line-height: 200%;
    width: 100%;
    height: 4em; }

/* line 89, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/scss.scss */
.post-biere {
  display: flex;
  align-content: stretch;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  flex: 0 1 calc((100%/2) - (1%*2));
  margin: 1%;
  border: 1px solid green;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 20px;
  line-height: 1.25rem; }
  /* line 3, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/modulable/_module.scss */
  .post-biere::before, .post-biere::after {
    content: '';
    display: block;
    flex-basis: 0;
    order: 1; }
  /* line 10, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/modulable/_module.scss */
  .post-biere::after {
    clear: both; }
  /* line 109, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/scss.scss */
  .post-biere:last-child {
    flex: 0 1 100%; }
  /* line 113, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/scss.scss */
  .post-biere header {
    width: 100%;
    margin-bottom: 0.5em;
    margin-top: 0;
    order: 1;
    flex: 0 1 100%;
    align-self: center;
    background: #aaa; }
    /* line 123, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/scss.scss */
    .post-biere header h3 {
      text-align: left;
      font-size: 2em;
      line-height: 150%; }
    /* line 130, /Users/Antoinechouinard/Documents/Programmation/Web/Biere/liste_Biere/codepen_JyeLMY/scss/scss.scss */
    .post-biere header p {
      font-size: 100%;
      text-align: right; }

/*# sourceMappingURL=scss.css.map */