@mixin clearfix {
  &::before,
  &::after {
    content: '';
    display: block;
    flex-basis: 0;
    order: 1;
  }
  &::after {
    clear: both;
  }
}

%section_item {
  $aside: #aea;
  $section: #eaa;
  section {
    //    order: 1;
    //    display: none;
    flex: 0 1 50%;
  }
  aside {
    flex: 0 1 50%;
    //    order: 1;
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
  footer {}
}

@mixin backcolor ($article, $header, $section, $aside, $footer) {
  article {
    background-color: $article;
    header {
      background-color: $header;
    }
    section {
      background-color: $section;
    }
    aside {
      background-color: $aside;
    }
    footer {
      background-color: $footer;
    }
  }
}

@mixin font-size($sizeValue: 12) {
  font-size: $sizeValue + px; //fallback for old browsers
  font-size: (0.0625 * $sizeValue) + rem;
}

@mixin line-height($heightValue: 20) {
  line-height: $heightValue + px; //fallback for old browsers
  line-height: (0.0625 * $heightValue) + rem;
}

@mixin rhythm($sizeValue: 12, $heightValue: 20) {
  @include font-size($sizeValue);
  @include line-height($heightValue);
}