
//@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import "reset";
@import "normalize/normalize.scss";
@import "variable.scss";
ul{
  list-style: none;
  text-decoration:none;
  a{
    text-decoration: none;
    color: black;
  }
  
}